
.settings-page{
    background-image: url('./pictures/jase-bloor-oCZHIa1D4EU-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin-left: 120px;
    padding: 10px;
    
}

.sign-button{
    max-width: 180px;
    width: 100%;
    height: 60px;
    border-radius: 10%;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.sign-button:hover{
    background-color: blue;
    color: white;
    box-shadow: 0 0 30px rgba(255, 255, 255, 20);
}